<%= form_for(current_user.following_relationships.build(following_id: @user.id)) do |f| %>
  <div><%= f.hidden_field :following_id %></div>
    <%= button_tag :type => "submit", :class =>"follow-btn" do %>
      <i class="fas fa-user-plus"></i> Follow
    <% end %>
<% end %>
