<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
  <div class="unfollow-button">
    <%= button_tag :type => "submit", :class =>"unfollow-btn" do %>
      <span class="unfollow-hover-btn"><i class="fas fa-user-minus"></i> Un Follow</span>
      <span class="following-hover-btn"><i class="fas fa-user-check"></i> Following</span>
    <% end %>
  </div>
<% end %>