/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  padding: 0;
  margin: 0;
}
body {
  font-family: DIN Condensed, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid #333333;
  height: 70px;
  width: 100%;
}

.header-top {
  font-family: DIN Condensed;
  font-size: 30px;
  margin-left: 50px;
  padding-top: 15px;
}

.header-list {
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none; 
}

.header-middle ul {
  display: flex;
}

.header-middle li {
  font-size: 30px;
  font-family: DIN Condensed;
  list-style: none;
  margin-right: 40px;
  padding-top: 9px;
}

.header-end {
  font-family: DIN Condensed;
  margin-right: 40px;
}

.icon {
  font-size: 40px;
}

.sign {
  padding-top: 9px;
  font-size: 30px;
}
