// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: DIN Condensed, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.header-wrapper {
  width: 100%;
  margin-left: auto;
}

.header-content {
  border-bottom: solid 2px #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 1000px;
  min-width: 750px;
  margin: auto;
  background-color: #ffffff;
}

.header-top h1.n-top {
  font-family: DIN Condensed;
  margin-left: 50px;
  padding-top: 10px;
}

.header-top h1.n-top a {
  display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 40px;
}

.header-top h1.n-top a:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #333333;
}

.header-list {
  justify-content: space-between;
  align-items: center;
  color: #333333;
}

.header-list ul {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.header-list li {
  margin-top: 0px;
  list-style: none;
  margin-bottom: 0px;
  margin-left: 30px;
}


.header-list li.n-video a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.header-list li.n-spot a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.header-list li.n-note a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 35px;
}


.header-list li.n-video a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.header-list li.n-spot a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.header-list li.n-note a:hover {
	cursor: pointer;
  transform: scale(1.0);
  color: #333333;
}




header a {
  text-decoration: none; 
}



.header-middle ul {
  display: flex;
}

.header-middle li {
  font-size: 30px;
  font-family: DIN Condensed;
  list-style: none;
  margin-right: 40px;
  padding-top: 9px;
}

.header-end {
  font-family: DIN Condensed;
  margin-right: 40px;
}

.n-icon {
  padding-top: 12px;
  --ggs: 1.5;
}

.n-icon a {
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
}

.n-icon a:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #ffffff;
  color: #333333;
}



.n-sign {
  padding-top: 9px;
  font-size: 30px;
}

.n-sign a {
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
  margin-right: 20px;
}

.n-sign a:hover {
  cursor: pointer;
  transform: scale(1.4);
  color: #333333;
  background-color: #ffffff;
}


// index
.n-main {
  max-width: 900px;
  min-width: 700px;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 150px;
}

.n-main a {
  text-decoration: none;
}

.n-main a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #333333;
}

.main-top {
  
  width: auto;
  height: 50px;
  justify-content: space-between;
  display: flex;
}

.search {
  margin-left: 30px;
  margin-top: 10px;
}

.new {
  margin-right: 50px;
  margin-top: 10px;
  --ggs: 1.5;
}

.new a {
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
}

.new a:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #ffffff;
  color: #333333;
}

.notes-container {
  
}


.note-contents {
  padding: 0 30px;
  max-width: 850px;
  min-width: 600px;
  border-top: solid 1px #535353;
}

.note-contents a{
  text-decoration: none;
}

.note-contents a:hover {
  color: #333333;
  background-color:  #ffffff;
  text-decoration: none;
}


.contents-user {
  display: flex;
  margin: auto;

}

.contents-user a {
  color: #333333;
  text-decoration: none;
}

.contents-user a:hover {
  color: #333333;
  text-decoration: none;
}

.n-userimage img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.n-username {
  font-size: 18px;
  margin: 10px auto auto 7px;
}

.contents-note {
  font-size: 20px;
  margin: 10px auto 5px 5px;
}

.contents-note a:hover {
  border-bottom: solid 1px #333333;
}


.archive {
  font-size: 20px;
  margin-bottom: 10px;
}

.n-show-user {
  display: flex;
  margin-left: 30px;
}

.n-show-user a {
  color: #333333;
  text-decoration: none;
}

.n-show-user a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #ffffff;
}

.n-show-userimage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.n-show-username {
  font-size: 18px;
  margin: 10px auto auto 7px;
}

.n-show-right {
  margin: 10px 40px auto auto;
}

.n-show-content {
  margin: 15px 20px;
}

.n-show-title {
  font-weight: bold;
  font-size: 35px;
  margin:20px auto auto auto;
}

.n-show-archive-container {
  text-align: center;
  margin: 20px 500px 15px 5px;
}

.n-show-archive {
  border: solid 1px #333333;
  font-size: 25px;
  padding: 5px 5px;
}

.show-contents-text {
  // background-color: antiquewhite;
  padding: 50px 120px 50px 30px;
  margin-right: 60px;
}


.question-wrapper {
  margin: 30px auto 150px 40px;
}

.question-wrapper p {
  font-weight: bold;
  font-size: 25px;
  margin: 20px auto 20px 20px;
}

.question-contents {
  margin-left: 40px;
}

.question-show {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.question-right {
  margin: 30px 150px auto auto;
}

.question-user {
  display: flex;
  margin-bottom: 5px;
}

.question-user a {
  text-decoration: none;
}

.question-user a:hover {
  background-color: #ffffff;
  color: #333333;
  text-decoration: none;
}

.question-userimage img {
  width: 30px;
  height: 30px;
  object-fit:cover;
  border-radius: 50%;
}

.question-username {
  font-size: 15px;
  padding-left: 10px;
  margin-top: 13px;
}

.question-body {
  font-size: 20px;
}

.submit-button {
  font-size: 15px;
}

.form-container {
  max-width: 800px;
  min-width: 700px;
  margin:0 auto;
  margin-top: 40px;
  margin-bottom: 150px;
  padding: 20px;
  background-color: rgb(255, 240, 221);
}

.title-field-container {
  
  width: 45%;
  margin: 10px auto;
}

.title-field {
  input[type="text"] {
    width: 99%;
    height: 20px;
  }
}

.form-title {
  font-size: 20px;
  margin-top: 10px;
}

.content-field {
  font-size: 20px;
}

.form-content {
  font-size: 25px;
}

.actions {
  width: 70%;
  margin: 15px auto;
}




.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}