
.select-list {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width:900px;
  min-width: 700px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  
}

.select-list ul {
  display: flex;
  text-align: center;
}

.select-list li {
  margin-top: 10px;
  list-style: none;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.select-list li.n-video a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.n-spot a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.n-note a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 33px;
}

.select-list li.n-video a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.select-list li.n-spot a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.select-list li.n-note a:hover {
	cursor: pointer;
  transform: scale(1.0);
  color: #333333;
}

.user-note-container {
  margin: 20px 50px 20px 50px;
  border-bottom: solid 1px #333333;
}

.user-note-title {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 20px;
}

.user-note-title a {
  color: #333333;
  text-decoration: none;
}

.user-note-title a:hover {
  text-decoration: none;
  color: #333333;
  background-color: #ffffff;
}

.user-note-archive {
  margin: 10px 20px;
  font-size: 20px;
}

