
.userpage a {
  text-decoration: none;
  font-family: DIN Condensed;
  color: #333333;
}

.userpage {
  width:700px;
  min-height:300px;
  color : #333333;
  font-family: DIN Condensed;
  margin: 0 auto;
  background-color :#ffffff;
}

.usertop-container {
  text-align: center;
  display: flex;
}

.profileimage img {
	width:90px;
	height:90px;
	object-fit:cover;
  border-radius:50%;
  margin-top: 20px;
  margin-left: 60px;
}

.information {
  margin-top: 30px;
  margin-left: 30px;
  text-align: left;
}

.information h1 {
  font-size: 30px;
}

.information p {
  font-size: 15px;
  line-height: 25px;
}

.edit-follow {
  margin-top: 25px;
  margin-left: 140px;
}

.edit {
  padding-top: 8px;
  font-size: 15px;
  
}

.edit a {
  background-color: #ffffff;
  color: #333333;
  display: inline-block;
  padding: 7px 15px 3px 15px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  border: solid 1px;
}

.edit a:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
  border-radius: 50px;
}

.select-list {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  
}

.select-list ul {
  display: flex;
  text-align: center;
}

.select-list li {
  margin-top: 10px;
  list-style: none;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.select-list li.s-video a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.s-spot a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 33px;
}

.select-list li.s-note a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.s-video a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.select-list li.s-spot a:hover {
	cursor: pointer;
  transform: scale(1.0);
  color: #333333;
}

.select-list li.s-note a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}
