
.select-list {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width:900px;
  min-width: 700px;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.select-list ul {
  display: flex;
  text-align: center;
}

.select-list li {
  margin-top: 10px;
  list-style: none;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.select-list li.v-video a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 33px;
}

.select-list li.v-spot a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.v-note a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.v-video a:hover {
	cursor: pointer;
  transform: scale(1.0);
  color: #333333;
}

.select-list li.v-spot a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.select-list li.v-note a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.v-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 30px ;
  max-width: 900px;
  min-width: 770px;
  
}

.v-contents {
  width: 380px;
  margin-bottom: 40px;
}

.v-contents a {
  text-decoration: none;
}

.v-contents a:hover {
  text-decoration: none;
  background-color: #ffffff;
}

.v-content-text {
  font-size: 20px;
  margin: 10px auto;
}

