

.select-list {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width:900px;
  min-width: 700px;
  border-top: solid 1px;
  border-bottom: solid 1px;
  
}

.select-list ul {
  display: flex;
  text-align: center;
}

.select-list li {
  margin-top: 10px;
  list-style: none;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.select-list li.s-video a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.s-spot a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 33px;
}

.select-list li.s-note a { 
	display: inline-block;
  transition: all .3s ease 0s;
  background-color: #ffffff;
  color: #333333;
  font-size: 24px;
}

.select-list li.s-video a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}

.select-list li.s-spot a:hover {
	cursor: pointer;
  transform: scale(1.0);
  color: #333333;
}

.select-list li.s-note a:hover {
	cursor: pointer;
  transform: scale(1.4);
  color: #333333;
}


.s-post-container {
  background-color: #ffffff;
  margin-top: 30px;
}

.s-post-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px;
  
}

.s-text {
  background-color: #ffffff;
  width: 370px;
  height: 200px;
  padding-top: 20px;
  margin-left: 30px;
}

.s-text ul {
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  font-size: 20px;
  list-style: none;
}

.s-text li {
  padding: 10px;
}

.s-text li.text {
  font-size: 20px;
  font-weight: bold;
}

.s-text li.tag {
  display: flex;
  flex-wrap: wrap;
}

.mypage-tag-name {
  margin: 5px;
  border: solid 1px #333333;
  padding: 6px 9px 4px 9px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.s-image-container {
  margin-left: 50px;
}

.s-image {
  width: 300px;
  height: 220px;
  background-color: #ffffff;
}

.s-image a {
  display: inline-block;
  transition: all .3s ease 0s;
  text-decoration: none;
  background-color: #ffffff;
}

.s-image a:hover {
  cursor: pointer;
  transform: scale(1.1);
  text-decoration: none;
  background-color: #ffffff;
}

